:root {
    /* colours */
    --dark: #0A0908;
    --light: #fff;
    --secundary-dark: #EF6D99;
    --pop-of-colour: #A9CD5E;
    /* --secundary-light: #F3DCCC; */
    --secundary-light: #e8e3e0;
    --medium-light: #333;

    /* font */
    --h1-size: 4em;
    --h2-size: 2em;
    --h3-size: 1.5em;
    --p-size: 1em;

    /* margin & padding */
    --reg-space: 1em;
    --s-padding: 0.5em;

    /* shadow */
    --shadow:  0 3px 10px rgb(10, 9, 8); 

    /* radius */
    --s-radius: 8px;
}

@font-face {
    font-family: 'Rosemode';
    src: url(fonts/Rosemode.ttf);
}

@font-face {
    font-family: 'Didact gothic';
    src: url(fonts/DidactGothic-Regular.ttf);
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.5s;
}


html {
    background-color: var(--secundary-light);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, h2, h3, p, a, li, details, summary {
    color: var(--medium-light);
    font-family: 'Didact gothic';
}

h1 {
    text-shadow: 1px 2px 8px rgba(169,205,94,0.6);
}

button {
    background: none;
    cursor: pointer;
}